@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

@layer components {
  .container-custom{
    @apply max-w-[1300px] w-[95%] mx-auto;
  }
}

body{
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8F8 !important;
  overflow-x:hidden ;
}


.primaryBtn{
  position: relative;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background: #f4af1b;
  color: #fff;
  font-size: 600;
  font-size: 15px;
  overflow: hidden;
  z-index: 2;
}

.primaryBtn a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #fff;
  text-decoration: none;
}

.primaryBtn::before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #0C1239;
  transition: 0.8s;
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
}

.primaryBtn:hover::before{
  height:180%;
  transition:0.8s ;
  border-radius: 4px;
}

.secondaryBtn{
  background: #0C1239;
}

.secondaryBtn::before{
  background: #f4af1b;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

